<%= render "shared/partial" %>
<p id="notice"><%= notice %></p>

<h2>プロフィール</h2>

       <h3>ユーザーネーム</h3>
       <h4><%= @user.name %></h4>
       <h3>自己紹介</h3>
       <h4><%= @user.introduction %></h4>
       </tr>
<%= link_to "編集", :edit_user %>
<%= link_to "キャンセル", :back %>